{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Learn with Dharna</TITLE>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/common/home_style.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </HEAD>
    <BODY>
	<div class="top"> 
		<p>
		<center>Better Education through Better Technology</center>
		</p>
	</div>
	<div class="left">
		
  		{% if is_logged_in == 0 %} 
		<p>You are not logged in</p>
	  		<p><a href="#" id ="a_log_in">Live Learning Login</a></p>
		{% else %}
		<p>Welcome, {{ username }} Logined as {{ logintype }}</p>
		            {% if logintype == 'teacher' %}
                <p><a href="/teacher_profile_info/" >Profile</a></p>
                <p><a href="/teacher_prev_lectures/" >Past Lecture details</a></p>
                <p><a href="/teacher_new_lectures/" >Upcoming Lecture details</a></p>
                <p><a href="/teacher_create_lecture/" >Create new lectures</a></p>
            {% else %}
                <p><a href="/student_profile_info/" >Profile</a></p>
                <p><a href="/student_prev_lectures/" >Past Lecture details</a></p>
                <p><a href="/student_new_lectures/" >Upcoming Lecture details</a></p>
            {% endif %}
		<p><a href="/log_out/" id ="a_log_out">Log out</a></p>
		{% endif %}
		<p><a href="/">Main Page</a></p>
  		
	</div>
	<div class="main">
	{% if error != 'None' %}
		<div><p>{{ error }}</p></div>
	{% endif %}
        {% if is_logged_in == 0 %}
	    <div>You need to login to access this page</div>
        {% else %}
        <div>
            <p>
                <center>Welcome, {{username}}</center>
            </p>
            <p>
                student id: {{ student_login.student_id }} </br>
                student username: {{ student_login.username }} </br>
            </p>
            <p>
                <b>These fields can NOT be changed</b>
                first name: {{ student_detail.first_name }} </br>
                middle name: {{ student_detail.middle_name }} </br>
                last name: {{ student_detail.last_name }} </br>
		        <b>These fields can be changed</b>
                phone: {{ student_detail.phone }} </br>
                email: {{ student_detail.email }} </br>
                <form method="POST" name="UpdateForm" action="/update_student_info/">
                {% csrf_token %}   
                Password: <input type="password" id="password" name="password"  placeholder="Password"> <br />
                New Password: <input type="password" id="new_password" name="new_password"  placeholder="NewPassword"> <br />
                Retype New Password: <input type="password" id="re_new_password" name="re_new_password"  placeholder="RetypeNewPassword"> <br />
                Email: <input type="text" id="email" name="email"  placeholder="New Email"> <br />
                Phone: <input type="text" id="phone" name="phone"  placeholder="New Phone"> <br />
                <button type="submit">Save Changes</button>
                </form>
            </p>
            <p><a href="/student_profile_info/">Click here</a> to go back.</p>
        </div>
        {% endif %}
	</div>
	<div class="topleft">
		<p>
		<center>Learn with Dharna</center>
		</p>
	</div>
    </BODY>
<script type="text/javascript"> 
/*function funcMissionStatement(){
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo');
	var el = document.getElementById('foo'); 
}
*/

</HTML>
